@use "../../mixins" as *;
@use "../../presets" as *;

.header-navbar {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;

  &__btn {
    @include md-min {
      display: none;
    }

    width: 30px;
    height: 22.5px;
    position: relative;
    margin: 25px 10px 25px auto;
    transform: rotate(0deg);
    transition: 0.5s ease-in-out;
    cursor: pointer;

    &-row {
      display: block;
      position: absolute;
      height: 3px;
      width: 100%;
      background: $color-light;
      border-radius: 3px;
      opacity: 1;
      left: 0;
      transform: rotate(0deg);
      transition: 0.25s ease-in-out;

      &:nth-child(1) {
        top: 0px;
      }

      &:nth-child(2),
      &:nth-child(3) {
        top: 9px;
      }

      &:nth-child(4) {
        top: 18px;
      }
    }

    &--active span {
      &:nth-child(1) {
        top: 9px;
        width: 0%;
        left: 50%;
      }
      &:nth-child(2) {
        transform: rotate(45deg);
      }
      &:nth-child(3) {
        transform: rotate(-45deg);
      }
      &:nth-child(4) {
        top: 9px;
        width: 0%;
        left: 50%;
      }
    }
  }

  &__list {
    list-style: none;
    @include md {
      background-color: rgba($color-gray-dark, 0.9);
      position: absolute;
      top: 84px;
      right: 20px;
      text-align: right;
      padding: 10px 20px;
      box-shadow: -3px 3px 20px -10px black;
    }
    @include md-min {
      display: flex;
      justify-content: flex-end;
      gap: $gap;
    }
    @include md {
      display: none;
    }
  }
  &__item {
    letter-spacing: 0.089em;
    font-size: 1.125rem;
  }
  &__link {
    display: inline-block;
    padding: 20px 10px;
    transition: 0.25s;

    &:focus,
    &:hover {
      transition: 0.5s;
      color: $color-accent;
    }
  }
}

// .header-navbar__btn .header-navbar__btn--active span

// .header-navbar__btn--active span

// .header-navbar__btn--active span
